body {
  font-family: Arial;
  margin: 40px;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 20px;
  text-decoration: none;
  font-weight: bold;
}

footer {
  margin-top: 40px;
  font-size: 14px;
  color: gray;
}
